<div *ngIf="account.isLogin()">
<h1>
    Welcome {{account.getAccount()}}
</h1>
</div>

<div *ngIf="!account.isLogin()">
  <form [formGroup]="loginForm" (ngSubmit)="submit(loginForm.value)">
    <div>
      <label>account</label>
      <input class="form-control" type="text" formControlName="account" required>
    </div>
    <div>
      <label>password</label>
      <input class="form-control" type="password" formControlName="password" required>
    </div>
    <button [disabled]="loginForm.invalid">Login</button>
  </form>

  <div>
    <button id='forgot-password'>
      <label>忘記密碼</label>
    </button>
  </div>

  <div>
    <button id='add-member' [routerLink]="['../','addMember']">
      <label>註冊會員</label>
    </button>
  </div>


</div>