<app-login-page *ngIf="!account.isLogin()"></app-login-page>

<div *ngIf="account.isLogin()">
    <form [formGroup]="orderForm" (ngSubmit)="onSubmit(orderForm.value)" required>
        <div>
            <span>
                <span id="require">* </span>
                商品名稱
            </span>
            <select class="form-control" formControlName="product" required>
                <option *ngFor="let p of allProduct;" [value]="p.id">
                    {{p.name}}
                </option>
            </select>
            <span id="error" *ngIf="product.invalid && product.dirty" >
                請選擇商品
            </span>
        </div>

        <div>
            <span>
                <span id="require">* </span>
                    數量
            </span>
            <input type="number" class="form-control" formControlName="productNumber" required max="10" min="1">
            <span id="error" *ngIf="productNumber.invalid && productNumber.dirty" >
                請選擇商品數量
            </span>
        </div>
        <div>
            <button [disabled] =  "orderForm.invalid" >
                    submit
                </button>
            </div>
    </form>
</div>
