<div id="add-member">
  <form [formGroup]="memberForm" (ngSubmit)="submit(memberForm.value)" required>
    <div>
      <label>
        <span id="require">* </span>
        姓名
        </label>
      <input class="form-control" type="text" formControlName="name" required>
      <span id="error" *ngIf="name.invalid && name.dirty" >
        Name is invalid!
      </span>
    </div>

    <div>
      <label>
        <span id="require">* </span>
        身分證
        </label>
      <input class="form-control" type="text" placeholder="Ex:A123456789" formControlName="identify" pattern="[A-Y][1-2][0-9]{8}" required>
      <span id="error" *ngIf="identify.invalid && identify.dirty" >
        identify is invalid!
      </span>
    </div>

    <div>
      <label>
        <span id="require">* </span>
        手機號碼
        </label>
      <input class="form-control" type="text"  placeholder="09XX-XXX-XXX" type="tel" formControlName="phone" pattern="09[0-9]{8}" required>
      <span id="error" *ngIf="phone.invalid && phone.dirty">
        Phone is invalid!
      </span>
    </div>

     <div>
      <label>住址</label>
      <input class="form-control" type="text" formControlName="address" required>
       <span id="error" *ngIf="address.invalid && address.dirty">
        Address is invalid!
      </span>
    </div>

    <div>
      <label>
        <span id="require">* </span>
        e-mail
        </label>
      <input class="form-control" type="text" placeholder="XXXXX@gmail.com" formControlName="email" required>
     <span id="error" *ngIf="email.invalid && email.dirty">
        email is invalid!
      </span>
    </div>

    <div>
      <label>
        <span id="require">*</span>
          密碼
          </label>
      <input class="form-control" type="password" formControlName="password" placeholder="your password" required>
      <span id="error" *ngIf="password.invalid && password.dirty">
        password is invalid!
      </span>
    </div>

    <div>
      <label><span id="require">* </span>確認密碼</label>
      <input class="form-control" type="password" formControlName="confirmPassword" placeholder="your confirm password" >
      <span id="error" *ngIf="!validPassword() && confirmPassword.dirty">
        Confirm password is not equal to password!
      </span>
    </div>
    <button [disabled] =  "memberForm.invalid" >submit</button>
  </form>
</div>