#storeName{
  color:darkgoldenrod ;
  font-size:25px; 
  background:white
}
#storeIcon{
  color:darkgoldenrod;
}
button{
  background: white;
  color:brown;
}
#user{
  background: wheat;
  color:darkgoldenrod;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/